.Principal {
  animation: Login-logo-rigth 1s;
  text-align: center;
  align-items: center;
  margin-top: 200px;
  background-color: white;
  margin: 30px;
  padding-top: 600px;
}


@keyframes Login-logo-rigth {
  from { transform: translateX(-30px)}
  to { transform: translateX(0) }
}
