.Principal {

  display: flex;
  flex-direction: column;
  animation: Login-logo-rigth 1s;
  background-color: white;
  text-align: center;
  align-items: center;
  margin: 0px;
  padding-bottom: 30px;
}
.AnuncioRegistrado {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: #559428;
  margin-left: 15px;
  font-weight: bold;
}
.AnuncioNoRegistrado {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: red;
  font-weight: bold;
  margin-left: 15px;
}

.QRimagen {
  animation: esperar 1s;
  height: 200px;
  margin: 20px;
}

.BotonEscanear{
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: #7be330;
}

.div_boton{
  margin-left: 138px;
}

.qrimage {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.BotonEscanear {
  display: flex;
  visibility: hidden;
  width: 0;
}
.BotonEscanear::before {
  content: 'Escanear Codigo QR';
  background: -webkit-linear-gradient(top, #7BE330, #7BE330);
  border: 1px solid #999;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  visibility: visible;
  position: absolute;
}
.BotonEscanear:hover::before {
  border-color: black;
}
.BotonEscanear:active::before {
  background: -webkit-linear-gradient(top, #7BE330, #7BE330);
}


.h3 {
  display: inline-block;
  margin: 15px;
  padding: 5px;
  color: #00b0e7;
}

.Cantidades {
  color: #559428;
}

.BottonDatos {
  color: #4d4d4d;
  background-color: #d1be13;
  margin: 30px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.BottonDatos:hover {
  background-color: #d1ce16;
}


@keyframes Login-logo-rigth {
  from { transform: translateX(-30px)}
  to { transform: translateX(0) }
}
